/* globals.css */

:root {
  --accent-primary: #3c8a2e; /* Main accent color */
  --accent-secondary: #2c7031; /* Secondary accent color */
  --accent-tertiary: #4aad39; /* Tertiary accent color */
  --accent-hover: #5bc74a; /* Hover accent color */
}

@import 'tailwindcss';

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #121212;
  --foreground: #171717;
  --font-stack: 'Inter', 'Segoe UI', 'Roboto', -apple-system, BlinkMacSystemFont,
    sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-stack);
}
